<h2 class="px-3 mt-3"><%= @question.question_rating.description %></h2>

<div class="card p-5 mt-5">
    <p><%= @question.description %></p>
    <%= render 'questions/form', question: @question, current_student:  @current_student %>
</div>